@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Apac Manufacturing</h1>
    <h1 class="display-4">Inventory Management System</h1>
    <img class="img-fluid" src="~/Resx/PngItem_101442.png" />
    <p>

    </p>
</div>
